@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: rubikRegular;
  src: url(../public/fonts/static/Rubik-Regular.ttf);
}
@font-face {
  font-family: rubikMedium;
  src: url(../public/fonts/static/Rubik-Medium.ttf);
}
@font-face {
  font-family: rubikLight;
  src: url(../public/fonts/static/Rubik-Light.ttf);
}

@theme {
  --color-navy-950: #0e1323;
  --color-navy-900: #1c204b;
  --color-navy-800: #33397a;
  --color-navy-200: #bbc0ff;
  --color-orange: #ff8b64;
  --color-purple-700: #7335d2;
  --color-purple-600: #5747ea;
  --color-purple-500: #7078c9;
  --color-blue: #55c2e6;
  --color-pink: #ff5e7d;
  --color-green: #4bcf82;
  --color-yellow: #f1c75b;
  --color-gray: #d8d8d8;

  --spacing-0: 0px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;

  --breakpoint-tablet: 769px;
  --breakpoint-desktop: 1441px;
}

@layer base {
  .textPreset1 {
    font-family: rubikLight;
    font-size: 3.5rem;
    line-height: 4.125rem;
  }
  .textPreset2 {
    font-family: rubikLight;
    font-size: 2.5rem;
    line-height: 2.9375rem;
  }
  .textPreset3 {
    font-family: rubikLight;
    font-size: 2rem;
    line-height: 2.375rem;
  }
  .textPreset4 {
    font-family: rubikLight;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
  .textPreset5Medium {
    font-family: rubikMedium;
    font-size: 1.125rem;
    line-height: 1.3125rem;
  }
  .textPreset5Regular {
    font-family: rubikRegular;
    font-size: 1.125rem;
    line-height: 1.3125rem;
  }
  .textPreset6 {
    font-family: rubikRegular;
    font-size: 0.9375rem;
    line-height: 1.125rem;
  }
}
